<!DOCTYPE html>
<html>
<head>
	<title>Article Detail</title>
</head>
<body>
	<h1>Article Detail - ID {{article.id}} </h1>
<!-- 		article_text = models.CharField(max_length=200)
	title_text = models.CharField(max_length=50)
	pub_date = models.DateTimeField('date published')
	author_article = models.ForeignKey(Author, on_delete=models.CASCADE)
 -->
	<div> 
		<p> Title: {{article.title_text}} </p>
		<p> Article: {{article.article_text}} </p>
		<p> Pub date: {{article.pub_date}} </p>
		<p> <a href = "{% url 'authordetail' article.author_article.id %}"> Author: {{article.author_article.name}} - ID: {{article.author_article.id}} </a></p>
	</div>
	<h1>Comments</h1>
	<ul>
		{% for coment in comments %}
		<li>{{coment}}</li>
		{% endfor %}
	</ul>
	<h1> Hi {{user.username}}, you can leave a comment here! </h1>
	<form method="POST" action="{% url 'articledetail' article.id %}">
		{% csrf_token %}
		<label>Comment:</label>
		<input type="textarea" name="comment"><br>
		<input type="submit" name="Add">
	</form>
	<!-- <form action="{% url " -->
</body>
</html>